<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>课程卡片组件</title>
    <link rel="stylesheet" href="index.css">
</head>
<body>

<div class="course_card">
    <div class="top">
        <a href="#">
            <img src="../../assets/images/course_img.png" alt="">
        </a>
        <div class="tag">
            热门
        </div>
    </div>
    <div class="content">
        <div class="title">
            <a href="">撩课-全栈-小程序+云开发实战</a>
        </div>
        <div class="score">
            <div class="star">
                <div class="y_star" style="width: 50%;">
                </div>
            </div>
            <div class="score_v">
                5分
            </div>
        </div>
        <div class="good iconfont icon-tubiaozhizuomoban">
            800人好评
        </div>
    </div>
</div>



</body>
</html>