<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>首页导航栏</title>
    <link rel="stylesheet" href="index.css">
</head>
<body>


<div id="nav_bar">
    <div class="nav_content bx">
        <div class="top">
            <div class="logo">
                <img src="../../assets/images/logo.png" alt="">
            </div>
            <div class="search">
                <div class="search_bar">
                    <div class="key">
                        全部
                        <span class="iconfont icon-Down"></span>
                    </div>
                    <div class="input">
                        <input type="text" placeholder="请输入搜索关键字...">
                    </div>
                    <div class="btn iconfont icon-fangdajing">
                        搜索
                    </div>
                </div>
            </div>
            <div class="personal">
                <div class="intro_pane">
                    <div class="intro">
                        <span>itlike0001</span>
                        <img src="../../assets/images/header.png" alt="">
                    </div>

                    <div class="operation_pane">

                    </div>
                </div>
            </div>
        </div>
        <div class="bottom">
            bottom
        </div>
    </div>
</div>



</body>
</html>